* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    background: whitesmoke;
    padding: 1vw;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
    }

    & .textodapagina {
        width: 30vw;
    }

    & .links {
        width: 30vw;
    }

    & .links a {
        text-decoration: none;
        color: black;
        font-size: 1.5vw;
        margin: 1vw; 
    }

    & .links a :hover{
        color: rgb(152, 48, 152);
        padding: 1vw;
        border-radius: 15px;

    }

    & .links2 {
        width: 30vw;
    }

    & .links a {
        text-decoration: none;
        color: black;
        font-size: 1.5vw;
        margin: 1vw; 
    }

    & .links a :hover{
        color: rgb(152, 48, 152);
        padding: 1vw;
        border-radius: 15px;

    }

}

    * main{
        width:100vw;
        background: white;
        
        & .container2{
            width:50vw;
            padding: 8vw;
            margin: 4vw;
            
        }

        & .container2 h1{
            font-size: 4vw;
            color: black;
            font-family: Arial, Helvetica, sans-serif;

        }

        & .container2 span {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2vw;
        }

        /* & .container2 button {
            background: black
            padding-box: 1vw;
            border-radius: 0.5vw;
            color: white;
             border: none;
             width: 8vw;
             height: 8vh;
             cursor:pointer;
     }
    }  */





